<html>
<head>
</head>
<body>
<p>
	<b>Name:</b><%= @ad.name %>
</p>
<p>
	<b>Email:</b><%= @ad.email %>
</p>
<p>
	<b>Phone Number:</b><%= @ad.phone_number %>
</p>
<p>
	<b>Category:</b><%= @ad.category %>
</p>
<p>
	<b>Region:</b><%= @ad.region %>
</p>
<p>
	<b>Post Code:</b><%= @ad.post_code %>
</p>
<p>
	<b>Heading:</b><%= @ad.heading %>
</p>
<p>
	<b>Ad text:</b><%= @ad.ad_text %>
</p>
<p>
	<b>Image ="<%= @ad.image %>"/>
</p>
</body>
</html>